$blue:      #3f68b6 !default;   // Brand guides blue
$lightblue: #f5f8ff !default;   // Brand guides lightblue
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #e83e8c !default;
$red:       #db4315 !default;   // Brand guides red
$lightred:  #ff9677 !default;   // Brand guides lightred
$orange:    #fd7e14 !default;
$yellow:    #ffcb00 !default;   // Brand guides yellow
$lyellow:   #ffe991 !default;   // Brand guides lightyellow
$green:     #00a316 !default;
$teal:      #20c997 !default;
$cyan:      #3498db !default;

$min-contrast-ratio:   2.00 !default;
