/* STARMAST web typography -------------------------------------------
Authors:
    Mohit Agarwal (Mohit-Agarwa1)
--------------------------------------------------------------------*/

/* Fonts
--------------------------------------------------------------------*/

$font-family-sans-serif:      "Helvetica Neue", Arial, sans-serif, "Segoe UI", "Roboto", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    // Acessibility guidelines + Emoji/Unicode support.

$h1-font-size:                2.5rem !default;
$h2-font-size:                2.0rem !default;
$h3-font-size:                1.5rem !default;

// Tables

$table-bg-scale:              0% !default;
